.dropdown{
    position: relative;
    display: inline-block;
    color: white;
    margin: 16px;
    padding: 16px;
    background-color: darkgreen;
    opacity: 0.8;
    
    
    cursor: pointer;
}


    


.dropdown:hover {
    opacity: 1;
    font-size: 16px;
}
.menu-item{
    
    padding: 16px;

}
.menu-list{
    display: none;
    left: 0;
    padding: 0;
    position: absolute;  
    list-style-type: none;
    background: lightcyan;
    color: black;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    min-width: 120px;
    z-index: 1;
}
.menu-item:hover{
    background-color: ghostwhite;
}

.dropdown:hover .menu-list {
    display: block;
}