* {
    box-sizing: border-box;
  }
  header > h1 {
    text-align: center;
  }
  
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
  
    flex: 1 0 300px;
  }