  * {
    box-sizing: border-box;
  }
  table {
    border-collapse: collapse;
    margin: 16px;
    border: 1px solid black;
  }
  td {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    text-align: center;
  }
  .black {
    background-color: black;
  }
  .num,.important>td{
    border: none !important
}

  