*{
    box-sizing:bording-box;
}
.image-container{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    width: 100%;
}
.first__image{
    border-radius: 20px;
}
.gallery{
    display: flex;
}
figcaption{
    
  line-height: 30px;
  text-align: center;
  text-transform: lowercase;
}
.card{
    margin: 16px;
    box-shadow: 0px 7px 18px -8px rgba(0,0,0,0.75);
}
.opacity-filter{
    filter: opacity(50%);
}
.blur-filter{
    filter: blur(4px);
}
.invert-filter{
    filter: invert(100%);
}