@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
.page {
  width: 1400px;
  margin: auto;
}
.header {
  width: 1140;
  height: 62px;
  margin: auto;
  display: flex;
}
.navigation {
  margin-left: auto;
}
.logo {
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  font-size: 18px;
  line-height: 25px;
}
