body {
    box-sizing: border-box;
}
header{
    height: 40px;
    background-color: yellow;
    display: flex;
    align-items: center;

}
footer{
    height: 40px;
    background-color: green;
    width: 100%;
    display: flex;
    bottom: 0;

}
.nav{
    margin: 0;
    display: flex;
    list-style-type: none;
}

.nav__item{
    margin-right: 10px;
}

.futer_text{
    margin: auto;
}
.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content{
    flex-grow: 1;
    display: flex;
}
.dashboard{
    display: flex;
    flex-grow: 1;
    background-color:pink ;
    justify-content: center;
    align-items: center;
    
}
.news {
    display: flex;
    flex-direction: column;
    width: 200px;
     background-color:grey;
     align-items: center;
    
   
}
.aside__item{
    list-style-type: none;
    margin-left: 16px;
    justify-content: center;
    height: 40px;

}