*{
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


  header {
    height: 3em;
    padding: 0 1em;
    background-color: #eee;
    display: flex;
  }

  .fa-bars {
       font-size: 2em;
  }
  
  .header_button{
    padding: 0;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navigation {
    width: 20%;
    padding: 0.5em;
    
  }
  li {
    background-color: #808080;
    color: #fff;
    height: 2em;
    margin-bottom: 0.5em;
  }
  a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: #fff;
  
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  @media screen and (min-width: 600px) {
    .header_button {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .navigation {
      display: none;
    }
  }
  