body{ 
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div{
    width: 100%;
    height: 200px;
}


.block_red{
    background-color: red;
}
.block_green{
    background-color: green;
}
.block_blue{
    background-color: blue;
}
.block_yellow{
    background-color: yellow;
}
.block_black{
    background-color: black;
}