* {
    box-sizing: border-box;
}
input[type="heckbox"]{
    visibility: hidden;
    width: 0;
    height: 0;
} 

.checkmark {
    width: 25px;
    width: 25px;
    background-color: #d3d3d3;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}
 
   .checkbox {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    font-size: 24px;
    margin: 16px;
  }
  .checkbox input:checked + .checkmark {
    background-color: #006400;
  }
